@charset "UTF-8";
* {
  background: #000;
  color: #fff; }

html, body {
  width: 100%;
  position: relative;
  margin: 0 auto;
  height: auto;
  display: block; }

hr {
  border: 0;
  width: 100%;
  height: 200px;
  display: block;
  background: transparent; }
  @media only screen and (max-width: 960px) {
    hr {
      height: 60px; } }

img {
  margin: 0 auto;
  width: 100%;
  display: inline-block;
  height: auto; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

.cred-block {
  margin: 120px auto; }
  .cred-block .list li {
    position: relative;
    list-style-type: none; }
    @media only screen and (max-width: 960px) {
      .cred-block .list li {
        margin-left: 2.25em;
        list-style-type: none; }
        .cred-block .list li:before {
          content: "↳";
          display: inline-block;
          left: 0;
          margin-left: -1.5em;
          position: absolute; } }

* {
  font-family: "IBM Plex Mono", monospace; }

h1, h2, h3, h4, h5, h6, p, i, span, a {
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 1em auto; }

a {
  text-decoration: none;
  border-bottom: 2px solid #fff; }

h2 {
  opacity: 0.8; }

section::after {
  clear: both;
  content: "";
  display: block; }

.one {
  width: calc(8.33333% - 21.66667px);
  float: left;
  margin-left: 20px; }
  @media only screen and (max-width: 960px) {
    .one {
      width: calc(50% - 30px);
      float: left;
      margin-left: 20px; } }
  @media only screen and (max-width: 600px) {
    .one {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }

.two {
  width: calc(16.66667% - 23.33333px);
  float: left;
  margin-left: 20px; }
  @media only screen and (max-width: 960px) {
    .two {
      width: calc(50% - 30px);
      float: left;
      margin-left: 20px; } }
  @media only screen and (max-width: 600px) {
    .two {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }

.three {
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px; }
  @media only screen and (max-width: 960px) {
    .three {
      width: calc(66.66667% - 33.33333px);
      float: left;
      margin-left: 20px; } }
  @media only screen and (max-width: 600px) {
    .three {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }

.four {
  width: calc(33.33333% - 26.66667px);
  float: left;
  margin-left: 20px; }
  @media only screen and (max-width: 960px) {
    .four {
      width: calc(66.66667% - 33.33333px);
      float: left;
      margin-left: 20px; } }
  @media only screen and (max-width: 600px) {
    .four {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }

.five {
  width: calc(41.66667% - 28.33333px);
  float: left;
  margin-left: 20px; }

.six {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px; }
  @media only screen and (max-width: 960px) {
    .six {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }

.seven {
  width: calc(58.33333% - 31.66667px);
  float: left;
  margin-left: 20px; }
  @media only screen and (max-width: 960px) {
    .seven {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }

.eight {
  width: calc(66.66667% - 33.33333px);
  float: left;
  margin-left: 20px; }
  @media only screen and (max-width: 960px) {
    .eight {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }

.nine {
  width: calc(75% - 35px);
  float: left;
  margin-left: 20px; }
  @media only screen and (max-width: 960px) {
    .nine {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }

.ten {
  width: calc(83.33333% - 36.66667px);
  float: left;
  margin-left: 20px; }
  @media only screen and (max-width: 960px) {
    .ten {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }

.eleven {
  width: calc(91.66667% - 38.33333px);
  float: left;
  margin-left: 20px; }
  @media only screen and (max-width: 960px) {
    .eleven {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }

.twelve {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }

.push-1 {
  margin-left: calc(8.33333% - 21.66667px + 40px); }
  @media only screen and (max-width: 960px) {
    .push-1 {
      margin-left: calc(0% - 20px + 40px); } }

.push-2 {
  margin-left: calc(16.66667% - 23.33333px + 40px); }
  @media only screen and (max-width: 960px) {
    .push-2 {
      margin-left: calc(0% - 20px + 40px); } }

.push-3 {
  margin-left: calc(25% - 25px + 40px); }
  @media only screen and (max-width: 960px) {
    .push-3 {
      margin-left: calc(0% - 20px + 40px); } }

.push-4 {
  margin-left: calc(33.33333% - 26.66667px + 40px); }
  @media only screen and (max-width: 960px) {
    .push-4 {
      margin-left: calc(0% - 20px + 40px); } }

.push-5 {
  margin-left: calc(41.66667% - 28.33333px + 40px); }
  @media only screen and (max-width: 960px) {
    .push-5 {
      margin-left: calc(0% - 20px + 40px); } }

.push-6 {
  margin-left: calc(50% - 30px + 40px); }
  @media only screen and (max-width: 960px) {
    .push-6 {
      margin-left: calc(0% - 20px + 40px); } }

.push-7 {
  margin-left: calc(58.33333% - 31.66667px + 40px); }
  @media only screen and (max-width: 960px) {
    .push-7 {
      margin-left: calc(0% - 20px + 40px); } }

.push-8 {
  margin-left: calc(66.66667% - 33.33333px + 40px); }
  @media only screen and (max-width: 960px) {
    .push-8 {
      margin-left: calc(0% - 20px + 40px); } }

.push-9 {
  margin-left: calc(75% - 35px + 40px); }
  @media only screen and (max-width: 960px) {
    .push-9 {
      margin-left: calc(0% - 20px + 40px); } }

.push-10 {
  margin-left: calc(83.33333% - 36.66667px + 40px); }
  @media only screen and (max-width: 960px) {
    .push-10 {
      margin-left: calc(0% - 20px + 40px); } }

.push-11 {
  margin-left: calc(91.66667% - 38.33333px + 40px); }
  @media only screen and (max-width: 960px) {
    .push-11 {
      margin-left: calc(0% - 20px + 40px); } }

.icons a {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-bottom: 0;
  margin-right: 8px;
  opacity: 0.5;
  transition: opacity ease 300ms; }
  .icons a.twitter {
    background: url(../img/icon_twitter.svg) center no-repeat; }
  .icons a.instagram {
    background: url(../img/icon_instagram.svg) center no-repeat; }
  .icons a.dribbble {
    background: url(../img/icon_dribbble.svg) center no-repeat; }
  .icons a.linkedin {
    background: url(../img/icon_linkedin.svg) center no-repeat; }
  .icons a.email {
    background: url(../img/icon_email.svg) center no-repeat; }
  .icons a:hover {
    opacity: 1; }

/*# sourceMappingURL=all.css.map */
