* {
	font-family: 'Overpass Mono', Helvetica, serif;
	font-size: 12px;
	line-height: 1.5em;
	color: black;
}

section{
	max-width: 300px;
	margin: 13% auto 0;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	text-transform: uppercase;
	margin: 16px 0 40px;
}

p{
	margin: 16px 0 40px;
}

br::after {
	margin-bottom: 1em;
}

img {
	width: 40px;
	height: 40px;
}